<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-4  ">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4>Total Employees</h4>
                </div>
                <div class="card-body">
                    <div class="p-2">
                        <h4>Employees</h4>
                        <p>{{dashboardData['totalEmployee']
                            }}</p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card bg-success text-white">
                <div class="card-header">
                    <h4>Total Projects</h4>
                </div>
                <div class="card-body">
                    <div class="p-2">
                        <h4>Projects</h4>
                          <p>{{dashboardData['totalProject']
                            }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-header">
                    <h4>Active Project Employees</h4>
                </div>
                <div class="card-body">
                    <div class="p-2">
                        <h4>Active Employees</h4>
                        <p>0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row ">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Latest Projects
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Recently Hired Employees
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>